<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19584522223-pepjk1um0u2dbcrcotipoj5ledt7f680.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19584522223-pepjk1um0u2dbcrcotipoj5ledt7f680</string>
	<key>API_KEY</key>
	<string>AIzaSyA0OGnjNz7ExptmXr5hH4Bac6QfrgaGwaM</string>
	<key>GCM_SENDER_ID</key>
	<string>19584522223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>inventorymanagement-e3ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorymanagement-e3ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19584522223:ios:e4efbb76b17504f902c81a</string>
</dict>
</plist>